<div>
<h1 class='guild-name'>Obsidian Sky</h1>
<table>
  <% @members.each_with_index do |member, i| %>
    <tr>
      <td><%= i + 1 %> </td>
      <td><%= member.name %></td>
      <td class='<%= i < 5 ? "legendary" : i < 15 ? "epic" : "rare" %>'><%= member.equipped_ilevel.to_s %></td>
      <td><%= member.max_ilevel.to_s %></td>
      <td class='<%= member.character_class.downcase %>'>
        <img class='class-icon' src='<%= "#{member.character_class.downcase}.png" %>'>
        <%= member.character_class %>
      </td>
      <td><%= member.specialization %></td>
      <td><%= member.role %></td>
    </tr>
  <% end %>
</table>
<%= button_to 'Update member data', resync_members_url, method: :get, class: 'button button__member-update' %>
</div>
